About:
  tabTitle: "Om"
  releaseNotes: "Anteckningar för utgåvan"
  newUpdate: "Ny uppdatering"
  upToDate: "Atom är uppdaterad!"
  checkingForUpdates: "Söker efter uppdateringar..."
  checkUpdatesNow: "Sök nu"
  automaticDownloadUpdates: "Ladda ner uppdateringar automatiskt"
  restartInstall: "Starta om och installera"
  license: "Licens"
  termsOfUse: "Villkor för användning"
  with: " med "
  by: " av "
  andTheAwesome: "Och den fantastiska "
  atomCommunity: "Atom-gemenskapen"
