Menu:
  Atom:
    value: "Atom"
    submenu:
      "About Atom":
        value: "Om Atom"
      "View Licens":
        value: "Visa licens"
      "Check for Update":
        value: "Sök efter uppdatering"
      "Preferences…":
        value: "Egenskaper..."
      "Config…":
        value: "Ställ in..."
      "Init Script…":
        value: "Init-skript..."
      "Keymap…":
        value: "Keymap..."
      "Snippets…":
        value: "Snippets..."
      "Stylesheet…":
        value: "Stilmall..."
      "Install Shell Commands":
        value: "Installera skalkommandon"
      "Hide Atom":
        value: "Dölj Atom"
      "Hide Others":
        value: "Dölj andra"
      "Show All":
        value: "Visa alla"
      Quit:
        value: "Avsluta"
  File:
    value: "Fil"
    submenu:
      "New Window":
        value: "Nytt fönster"
      "New File":
        value: "Ny fil"
      "Open…":
        value: "Öppna..."
      "Add Project Folder…":
        value: "Lägg till projektmapp..."
      "Reopen Project":
        value: "Öppna projektet igen"
        submenu:
          "Clear Project History":
            value: "Rensa projekthistorik"
      "Reopen Last Item":
        value: "Reopen Last Item"
      Save:
        value: "Spara"
      "Save As…":
        value: "Spara som..."
      "Save All":
        value: "Spara allt"
      "Close Tab":
        value: "Stäng flik"
      "Close Pane":
        value: "Close Pane"
      "Close Window":
        value: "Stäng fönster"
      "Close All Tabs":
        value: "Stäng alla flikar"
  Edit:
    value: "Redigera"
    submenu:
      Undo:
        value: "Undo"
      Redo:
        value: "Gör om"
      Cut:
        value: "Klipp ut"
      Copy:
        value: "Kopiera"
      "Copy Path":
        value: "Kopiera genväg"
      Paste:
        value: "Klistra in"
      "Select All":
        value: "Välj alla"
      "Toggle Comments":
        value: "Toggle Comments"
      Lines:
        value: "Rader"
        submenu:
          Indent:
            value: "Indent"
          Outdent:
            value: "Outdent"
          "Auto Indent":
            value: "Auto Indent"
          "Move Line Up":
            value: "Move Line Up"
          "Move Line Down":
            value: "Move Line Down"
          "Duplicate Lines":
            value: "Duplicate Lines"
          "Delete Line":
            value: "Ta bort rad"
          "Join Lines":
            value: "Sammanfoga rader"
      Columns:
        value: "Kolumner"
        submenu:
          "Move Selection Left":
            value: "Move Selection Left"
          "Move Selection Right":
            value: "Move Selection Right"
      Text:
        value: "Text"
        submenu:
          "Upper Case":
            value: "Stor bokstav"
          "Lower Case":
            value: "Liten bokstav"
          "Delete to End of Word":
            value: "Ta bort till ordets slut"
          "Delete to Previous Word Boundary":
            value: "Delete to Previous Word Boundary"
          "Delete to Next Word Boundary":
            value: "Delete to Next Word Boundary"
          "Delete Line":
            value: "Ta bort rad"
          Transpose:
            value: "Transpose"
      Folding:
        value: "Folding"
        submenu:
          Fold:
            value: "Vik"
          Unfold:
            value: "Vik ut"
          "Fold All":
            value: "Vik allt"
          "Unfold All":
            value: "Vik ut allt"
          "Fold Level 1":
            value: "Fold Level 1"
          "Fold Level 2":
            value: "Fold Level 2"
          "Fold Level 3":
            value: "Fold Level 3"
          "Fold Level 4":
            value: "Fold Level 4"
          "Fold Level 5":
            value: "Fold Level 5"
          "Fold Level 6":
            value: "Fold Level 6"
          "Fold Level 7":
            value: "Fold Level 7"
          "Fold Level 8":
            value: "Fold Level 8"
          "Fold Level 9":
            value: "Fold Level 9"
      "Reflow Selection":
        value: "Reflow Selection"
      Bookmark:
        value: "Bokmärk"
        submenu:
          "View All":
            value: "Visa alla"
          "Toggle Bookmark":
            value: "Toggle Bookmark"
          "Jump to Next Bookmark":
            value: "Hoppa till nästa bokmärke"
          "Jump to Previous Bookmark":
            value: "Hoppa till föregående bokmärke"
      "Select Encoding":
        value: "Select Encoding"
      "Go to Line":
        value: "Gå till rad"
      "Select Grammar":
        value: "Välj grammatik"
  View:
    value: "Visa"
    submenu:
      "Toggle Full Screen":
        value: "Toggle Full Screen"
      Panes:
        value: "Panes"
        submenu:
          "Split Up":
            value: "Split Up"
          "Split Down":
            value: "Split Down"
          "Split Left":
            value: "Split Left"
          "Split Right":
            value: "Split Right"
          "Focus Next Pane":
            value: "Focus Next Pane"
          "Focus Previous Pane":
            value: "Focus Previous Pane"
          "Focus Pane Above":
            value: "Focus Pane Above"
          "Focus Pane Below":
            value: "Focus Pane Below"
          "Focus Pane On Left":
            value: "Focus Pane On Left"
          "Focus Pane On Right":
            value: "Focus Pane On Right"
          "Close Pane":
            value: "Close Pane"
      Developer:
        value: "Utvecklare"
        submenu:
          "Open In Dev Mode…":
            value: "Öppna i utvecklingsläge..."
          "Reload Window":
            value: "Ladda om fönster"
          "Run Package Specs":
            value: "Run Package Specs"
          "Run Benchmarks":
            value: "Run Benchmarks"
          "Toggle Developer Tools":
            value: "Toggle Developer Tools"
      "Increase Font Size":
        value: "Öka storleken på typsnittet"
      "Decrease Font Size":
        value: "Minska storleken på typsnittet"
      "Reset Font Size":
        value: "Återställ storleken på typsnittet"
      "Toggle Soft Wrap":
        value: "Toggle Soft Wrap"
      "Toggle Command Palette":
        value: "Toggle Command Palette"
      # added the following menus, for "Packages"->"GitHub"
      "Toggle Git Tab":
        value: "Toggle Git Tab"
      "Toggle GitHub Tab":
        value: "Toggle GitHub Tab"
      "Open Reviews Tab":
        value: "Open Reviews Tab"
      #
      "Toggle Tree View":
        value: "Toggle Tree View"
  Selection:
    value: "Val"
    submenu:
      "Add Selection Above":
        value: "Lägg till val ovanför"
      "Add Selection Below":
        value: "Lägg till val nedan"
      "Single Selection":
        value: "Single Selection"
      "Split into Lines":
        value: "Split into Lines"
      "Select to Top":
        value: "Select to Top"
      "Select to Bottom":
        value: "Select to Bottom"
      "Select Line":
        value: "Väl rad"
      "Select Word":
        value: "Välj ord"
      "Select to Beginning of Word":
        value: "Select to Beginning of Word"
      "Select to Beginning of Line":
        value: "Select to Beginning of Line"
      "Select to First Character of Line":
        value: "Select to First Character of Line"
      "Select to End of Word":
        value: "Select to End of Word"
      "Select to End of Line":
        value: "Välj till slutet av raden"
      "Select Inside Brackets":
        value: "Select Inside Brackets"
  Find:
    value: "Hitta"
    submenu:
      "Find in Buffer":
        value: "Find in Buffer"
      "Replace in Buffer":
        value: "Replace in Buffer"
      "Select Next":
        value: "Välj nästa"
      "Select All":
        value: "Välj alla"
      "Toggle Find in Buffer":
        value: "Toggle Find in Buffer"
      "Find in Project":
        value: "Hitta i projektet"
      "Toggle Find in Project":
        value: "Toggle Find in Project"
      "Find All":
        value: "Hitta alla"
      "Find Next":
        value: "Hitta nästa"
      "Find Previous":
        value: "Hitta föregående"
      "Replace Next":
        value: "Ersätt nästa"
      "Replace All":
        value: "Ersätt alla"
      "Clear History":
        value: "Rensa historik"
      "Find Buffer":
        value: "Find Buffer"
      "Find File":
        value: "Hitta fil"
      "Find Modified File":
        value: "Find Modified File"
  Packages:
    value: "Paket"
    submenu:
      "Bracket Matcher":
        value: "Bracket Matcher"
        submenu:
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
          "Select Inside Brackets":
            value: "Select Inside Brackets"
          "Remove Brackets From Selection":
            value: "Remove Brackets From Selection"
          "Close Current Tag":
            value: "Stäng nuvarande tagg"
          "Remove Matching Brackets":
            value: "Remove Matching Brackets"
          "Select Matching Brackets":
            value: "Select Matching Brackets"
      "Command Palette":
        value: "Command Palette"
        submenu:
          "Toggle":
            value: "Toggle"
      "Dev Live Reload":
        value: "Dev Live Reload"
        submenu:
          "Reload All Styles":
            value: "Ladda om alla stiler"
      "Git Diff":
        value: "Git Diff"
        submenu:
          "Move to Next Diff":
            value: "Move to Next Diff"
          "Move to Previous Diff":
            value: "Move to Previous Diff"
          "Toggle Diff List":
            value: "Toggle Diff List"
      "GitHub":
        value: "GitHub"
        submenu:
          "Toggle Git Tab":
            value: "Toggle Git Tab"
          "Toggle GitHub Tab":
            value: "Toggle GitHub Tab"
          "Open Reviews Tab":
            value: "Open Reviews Tab"
      "Keybinding Resolver":
        value: "Keybinding Resolver"
        submenu:
          "Toggle":
            value: "Toggle"
          "Go To Matching Bracket":
            value: "Go To Matching Bracket"
      "Markdown Preview":
        value: "Markdown Preview"
        submenu:
          "Toggle Preview":
            value: "Toggle Preview"
          "Toggle Break on Single Newline":
            value: "Toggle Break on Single Newline"
          "Toggle GitHub Style":
            value: "Toggle GitHub Style"
      "Open On GitHub":
        value: "Öppna i GitHub"
        submenu:
          "Blame":
            value: "Blame"
          "Branch Compare":
            value: "Branch Compare"
          "Copy URL":
            value: "Kopiera URL"
          "File":
            value: "Fil"
          "File on Master":
            value: "File on Master"
          "History":
            value: "Historik"
          "Issues":
            value: "Problem"
          "Pull Requests":
            value: "Pull Requests"
          "Repository":
            value: "Filförråd"
      "Package Generator":
        value: "Paketgenererare"
        submenu:
          "Generate Atom Package":
            value: "Generate Atom-paket"
          "Generate Atom Syntax Theme":
            value: "Generera syntax-tema för Atom"
      "Settings View":
        value: "Settings View"
        submenu:
          "Open":
            value: "Öppna"
          "Show Keybindings":
            value: "Visa nyckelbindningar"
          "Install Packages/Themes":
            value: "Installera Paket/Teman"
          "Update Packages/Themes":
            value: "Uppdatera Paket/Teman"
          "Manage Packages":
            value: "Hantera paket"
          "Manage Themes":
            value: "Hantera teman"
      "Snippets":
        value: "Snippets"
        submenu:
          "Expand":
            value: "Expandera"
          "Next Stop":
            value: "Nästa stopp"
          "Previous Stop":
            value: "Föregående stopp"
          "Available":
            value: "Tillgängligt"
      "Spell Check":
        value: "Stavningskontroll"
        submenu:
          "Toggle":
            value: "Toggle"
      "Styleguide":
        value: "Stilguide"
        submenu:
          "Show":
            value: "Visa"
      "Symbols":
        value: "Symboler"
        submenu:
          "File Symbols":
            value: "Fil-symboler"
          "Project Symbols":
            value: "Fil-symboler"
      "Timecop":
        value: "Timecop"
        submenu:
          "Show":
            value: "Visa"
      "Tree View":
        value: "Trädvy"
        submenu:
          "Focus":
            value: "Fokus"
          "Toggle":
            value: "Toggle"
          "Reveal Active File":
            value: "Reveal Active File"
          "Toggle Tree Side":
            value: "Toggle Tree Side"
      "Whitespace":
        value: "Vitrymd"
        submenu:
          "Remove Trailing Whitespace":
            value: "Remove Trailing Whitespace"
          "Save With Trailing Whitespace":
            value: "Save With Trailing Whitespace"
          "Save Without Trailing Whitespace":
            value: "Save Without Trailing Whitespace"
          "Convert Tabs To Spaces":
            value: "Convert Tabs To Spaces"
          "Convert Spaces To Tabs":
            value: "Convert Spaces To Tabs"
          "Convert All Tabs To Spaces":
            value: "Convert All Tabs To Spaces"
  Window:
    value: "Fönster"
    submenu:
      Minimize:
        value: "Minimera"
      Zoom:
        value: "Zooma"
      "Bring All to Front":
        value: "Bring All to Front"
  Help:
    value: "Hjälp"
    submenu:
      "Terms of Use":
        value: "Villkor för användning"
      Documentation:
        value: "Dokumentation"
      Roadmap:
        value: "Roadmap"
      "Frequently Asked Questions":
        value: "Frekvent Ställda Frågor"
      "Community Discussions":
        value: "Community Discussions"
      "Report Issue":
        value: "Rapportera problem"
      "Search Issues":
        value: "Sök problem"
      "Welcome Guide":
        value: "Välkomstguide"
